@import "tailwindcss";

@theme {
  /* Set the serif variable to load DM Serif Display */
  --font-serif: "DM Serif Display", serif;
  --font-sans: "Poppins", sans-serif;

  --color-belam-blue: #2EB7E5;
  --color-belam-pink: #EC198A;
}

html {
  scroll-behavior: smooth;
}

.translateY-0 {
  transform: translateY(0);
}